body {
    margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
}

.login-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: solid 1px black;
}

button {
  padding: 8px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  background-color: green;
  color: white;
}

input {
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}