.icon {
  margin-right: 8px;
  max-width: 30px;
  box-shadow: none;
}

.line {
  background-color: white;
  color: black;
}

.btn {
  background-color: transparent;
  border: none;
  text-decoration: none;
}
